*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;


}


.inputValor, .tipoCambio{
    border: 1px solid white;
    border-radius: 4px;
    width: 250px;
    height: 25px;
    font-size: 15px;
  }
.contenedor{

    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "formulario contenedor"; 
}

.formulario{
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg,green,blue,red);
    background-size: 400% 400%;
    position: relative;
    animation: cambiarColor 20s ease infinite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.grafica{
    
    margin-top: 100px;
    height: 100%;
    color: black;
    
}

.resultado{

    font-size: 25px;
}

.div2{

    margin: 30px;
}

.btnBuscar{
   
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    color: white;
    background-color: green;
    
}

@keyframes cambiarColor{

    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

